.hide 
{
    display: none;
}
/* header 
{
    background: green;
    position: fixed;
    width: 100%;
    padding: 100px;
    left: 0;
    top: 0;
    transition: 0.9s;
}
.aa
{
    background: red;
    padding: 40px;
} */